/* ==========================================================
   1. Root Variables
   ========================================================== */
   html {
    height: 100%;
    --color--black: #040114;
    --color--white: white;
    --color--gray-1: #070417;
    --color--gray-2: #08051d;
    --color--gray-3: #252332;
    --color--gray-4: #e1e0e9;
    --color--primary-1: #7768d2;
    --color--primary-2: #a535c5;
    --color--primary-3: #bf95f3;
    --color--primary-4: #f2c2f9;
    --color--transparent: transparent;
    --color--heading: var(--color--white);
    --font-family--body: Inter, sans-serif;
    --font-family--heading: "Nohemi Vf", sans-serif;
    --border-radius--border-radius: 20px;
    --border-radius--lg: 50px;
    --border-radius--sm: 10px;
  }
  
  /* ==========================================================
     2. Reset and Base Styles
     ========================================================== */
  * {
    box-sizing: border-box;
  }
  
  body {
    color: #333;
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  
  /* Overriding body styles with variables for theme consistency */
  body {
    background-color: var(--color--black);
    font-family: var(--font-family--body);
    color: var(--color--gray-4);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
  }
  
  img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
  }
  
  a {
    color: var(--color--gray-4);
    text-decoration: underline;
  }
  
  ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 30px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: 400;
    display: block;
  }
  
  strong {
    font-weight: bold;
  }
  
  em {
    font-style: italic;
  }
  
  blockquote {
    border-left: 5px solid #e2e2e2;
    margin: 0 0 10px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 22px;
  }
  
  button, [type="button"], [type="reset"] {
    cursor: pointer;
    -webkit-appearance: button;
    border: 0;
  }
  
  /* ==========================================================
     3. Typography (Headings, Paragraphs)
     ========================================================== */
  h1, .heading-h1 {
    font-family: var(--font-family--heading);
    color: var(--color--heading);
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 68px;
    font-weight: 600;
    line-height: 1.2em;
  }
  
  h2, .heading-h2 {
    font-family: var(--font-family--heading);
    color: var(--color--heading);
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2em;
  }
  
  h3 {
    font-family: var(--font-family--heading);
    color: var(--color--heading);
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 44px;
    font-weight: 600;
    line-height: 1.3em;
  }
  
  h4, .heading-h4 {
    font-family: var(--font-family--heading);
    color: var(--color--heading);
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.3em;
  }
  
  h5 {
    font-family: var(--font-family--heading);
    color: var(--color--heading);
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.3em;
  }
  
  h6 {
    font-family: var(--font-family--heading);
    color: var(--color--heading);
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.3em;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  /* ==========================================================
     4. Forms (Inputs, Selects, Checkbox, Radio)
     ========================================================== */
  .w-form {
    margin: 0 0 15px;
  }
  
  .w-form-done {
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    display: none;
  }
  
  .w-form-fail {
    background-color: #ffdede;
    margin-top: 10px;
    padding: 10px;
    display: none;
  }
  
  .w-input, .w-select {
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    height: 38px;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
  }
  
  .form-input {
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-1);
    color: var(--color--gray-4);
    height: 56px;
    margin-bottom: 15px;
    padding: 10px 20px;
    font-size: 18px;
    transition: border-color .3s ease-in-out;
  }
  
  .form-input:focus {
    border-color: var(--color--primary-2);
  }
  
  .form-input::placeholder {
    color: var(--color--white);
    font-size: 18px;
  }
  
  .form-input.form-textarea {
    height: 200px;
  }
  
  .form-input.form-input-footer {
    height: 60px;
    margin-bottom: 0;
    padding-right: 60px;
  }
  
  .form-select {
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--black);
    color: var(--color--white);
    height: 56px;
    margin-bottom: 15px;
    padding: 10px 20px;
    font-size: 16px;
    transition: border-color .3s ease-in-out;
  }
  
  .form-select:focus {
    border-color: var(--color--primary-2);
  }
  
  .form-select::placeholder {
    color: #4897ff;
    font-size: 18px;
  }
  
  .checkbox-field {
    align-items: flex-start;
    margin-bottom: 20px;
    display: flex;
  }
  
  .radio-button-label {
    padding-left: 6px;
  }
  
  .w-form-formradioinput--inputType-custom {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }
  .w-form-formradioinput--inputType-custom.w--redirected-focus {
    box-shadow: 0 0 3px 1px #3898ec;
  }
  .w-form-formradioinput--inputType-custom.w--redirected-checked {
    border-width: 4px;
    border-color: #3898ec;
  }
  
  /* ==========================================================
     5. Buttons and Links
     ========================================================== */
  .w-button {
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
  }
  
  .button-gray-2 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--lg);
    background-color: var(--color--gray-2);
    color: var(--color--white);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    text-decoration: none;
    transition: all .3s ease-in-out;
  }
  
  .button-gray-2:hover {
    border-color: var(--color--primary-1);
    background-color: var(--color--gray-2);
    color: var(--color--white);
  }
  
  /* ==========================================================
     6. Utility Classes
     ========================================================== */
  .no-margin { margin-bottom: 0; }
  .text-lead { font-size: 20px; line-height: 1.5em; }
  .text-left { text-align: left; }
  .text-italic { font-style: italic; }
  .text-bold { font-weight: 600; }
  .margin-bottom-20 { margin-bottom: 20px; }
  .margin-bottom-36 { margin-bottom: 36px; }
  .margin-bottom-40 { margin-bottom: 40px; }
  .margin-bottom-44 { margin-bottom: 44px; }
  .margin-bottom-54 { margin-bottom: 54px; }
  
  /* ==========================================================
     7. Color Utility Classes
     ========================================================== */
  .bg-primary-1 { background-color: var(--color--primary-1); }
  .bg-primary-2 { background-color: var(--color--primary-2); }
  .bg-primary-3 { background-color: var(--color--primary-3); }
  .bg-primary-4 { background-color: var(--color--primary-4); }
  .bg-black { background-color: var(--color--black); }
  .bg-white { background-color: var(--color--white); }
  .text-mark {
    background-color: var(--color--primary-2);
    color: var(--color--white);
    padding-left: 3px;
    padding-right: 3px;
  }
  
  /* ==========================================================
     8. Layout Containers and Sections
     ========================================================== */
  .container {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .container-small {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .inner-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .inner-container.left { margin-left: 0; }
  .inner-container-small {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .section-spacing { padding-top: 150px; padding-bottom: 150px; }
  .section-spacing-top { padding-top: 150px; }
  .section-spacing-bottom { padding-bottom: 150px; }
  .hero-inner { padding-top: 30px; }
  .hero-inner-content-wrap {
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-1);
    text-align: center;
  }
  .container-box {
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-1);
    text-align: center;
    padding: 15px 20px;
  }
  .style-guide-spacing-box {
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-1);
    text-align: center;
  }
  .margin-class-box {
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-1);
    width: 100%;
    display: flex;
  }
  
  /* ==========================================================
     9. Navigation and Dropdowns
     ========================================================== */
  .w-nav {
    z-index: 1000;
    background: #ddd;
    position: relative;
  }
  .w-nav:before, .w-nav:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
  .w-nav:after { clear: both; }
  .w-nav-brand {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
  }
  .w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  .w-nav-link.w--current { color: #0082f3; }
  .w-nav-menu { float: right; position: relative; }
  [data-nav-menu-open] {
    text-align: center;
    background: #c8c8c8;
    min-width: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: visible;
    display: block !important;
  }
  .w--nav-link-open { display: block; position: relative; }
  .w-nav-overlay {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .w-nav-overlay [data-nav-menu-open] { top: 0; }
  .w-nav[data-animation="over-left"] .w-nav-overlay,
  .w-nav[data-animation="over-left"] [data-nav-menu-open] {
    width: auto;
    z-index: 1;
    top: 0;
    right: auto;
  }
  .w-nav[data-animation="over-right"] .w-nav-overlay,
  .w-nav[data-animation="over-right"] [data-nav-menu-open] {
    width: auto;
    z-index: 1;
    top: 0;
    left: auto;
  }
  .w-nav-button {
    float: right;
    cursor: pointer;
    -webkit-tap-highlight-color: #0000;
    tap-highlight-color: #0000;
    -webkit-user-select: none;
    user-select: none;
    padding: 18px;
    font-size: 24px;
    display: none;
    position: relative;
  }
  .w-nav-button:focus { outline: 0; }
  .w-nav-button.w--open {
    color: #fff;
    background-color: #c8c8c8;
  }
  .w-nav[data-collapse="all"] .w-nav-menu { display: none; }
  .w-nav[data-collapse="all"] .w-nav-button,
  .w--nav-dropdown-open,
  .w--nav-dropdown-toggle-open { display: block; }
  .w--nav-dropdown-list-open { position: static; }
  
  /* Dropdown Styles */
  .w-dropdown {
    position: relative;
    display: inline-block;
  }
  .w-dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  .w-dropdown-toggle::after {
    content: "▼";
    margin-left: 5px;
    font-size: 12px;
    color: black;
  }
  .w-dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 4px;
  }
  .w-dropdown:hover .w-dropdown-list { display: block; }
  .scrollable-dropdown {
    max-height: 400px;
    overflow-y: auto;
  }
  .dropdown-link {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid #f1f1f1;
  }
  .dropdown-link:hover {
    background-color: #f9f9f9;
    color: #007BFF;
  }
  .w--current {
    color: #007BFF;
    font-weight: bold;
  }
  .w-icon-dropdown-toggle {
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  .w-dropdown-toggle:hover .w-icon-dropdown-toggle {
    transform: rotate(180deg);
  }
  .submenu-content .dropdown-link { border-bottom: none; }
  .submenu-content .dropdown-link:hover { background-color: #f1f1f1; }
  .fas {
    position: relative;
    font-size: 15px;
    padding: 1px;
  }
  
  /* ==========================================================
     10. Grids and Layouts
     ========================================================== */
  .w-block { display: block; }
  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }
  .w-hidden { display: none; }
  .w-layout-blockcontainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  /* ==========================================================
     11. Messages and Badges
     ========================================================== */
  .success-message {
    border-radius: var(--border-radius--border-radius);
    color: var(--color--white);
    text-align: center;
    background-color: #03cd69;
    padding: 15px;
  }
  .heading-class-badge {
    color: var(--color--white);
    background-color: #0073e6;
    border-radius: 3px;
    padding: 0 6px;
    font-size: 12px;
  }
  .color-box-name {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400;
  }
  
  /* ==========================================================
     12. Responsive Media Queries
     ========================================================== */
  @media screen and (max-width: 991px) {
    .w-layout-blockcontainer { max-width: 728px; }
  }
  @media screen and (max-width: 767px) {
    .w-layout-blockcontainer { max-width: none; }
  }
  



 
  
  .form-input {
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-1);
    color: var(--color--gray-4);
    height: 56px;
    margin-bottom: 15px;
    padding: 10px 20px;
    font-size: 18px;
    transition: border-color .3s ease-in-out;
  }
  
  .form-input:focus {
    border-color: var(--color--primary-2);
  }
  
  .form-input::placeholder {
    color: var(--color--white);
    font-size: 18px;
  }
  
  .form-input.form-textarea {
    height: 200px;
  }
  
  .form-input.form-input-footer {
    height: 60px;
    margin-bottom: 0;
    padding-right: 60px;
  }
  
  .no-margin {
    margin-bottom: 0;
  }
  
  .form-select {
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--black);
    color: var(--color--white);
    height: 56px;
    margin-bottom: 15px;
    padding: 10px 20px;
    font-size: 16px;
    transition: border-color .3s ease-in-out;
  }
  
  .form-select:focus {
    border-color: var(--color--primary-2);
  }
  
  .form-select::placeholder {
    color: #4897ff;
    font-size: 18px;
  }
  
  
  .container-box {
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-1);
    text-align: center;
    padding: 15px 20px;
  }
  
  .margin-bottom-44 {
    margin-bottom: 44px;
  }
  
  .text-lead {
    font-size: 20px;
    line-height: 1.5em;
  }
  
  .heading-h1 {
    font-family: var(--font-family--heading);
    color: var(--color--heading);
    margin-bottom: 10px;
    font-size: 68px;
    font-weight: 600;
    line-height: 1.2em;
  }
  
  .checkbox-field {
    align-items: flex-start;
    margin-bottom: 20px;
    display: flex;
  }
  
  .success-message {
    border-radius: var(--border-radius--border-radius);
    color: var(--color--white);
    text-align: center;
    background-color: #03cd69;
    padding: 15px;
  }
  
  .radio-button-label {
    padding-left: 6px;
  }
  
  .text-left {
    text-align: left;
  }
  
  .button-gray-2 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--lg);
    background-color: var(--color--gray-2);
    color: var(--color--white);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    text-decoration: none;
    transition: all .3s ease-in-out;
  }
  
  .button-gray-2:hover {
    border-color: var(--color--primary-1);
    background-color: var(--color--gray-2);
    color: var(--color--white);
  }
  
  .text-italic {
    font-style: italic;
  }
  
  .margin-bottom-36 {
    margin-bottom: 36px;
  }
  
  .style-guide-spacing-box {
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-1);
    text-align: center;
  }
  
  .margin-bottom-40 {
    margin-bottom: 40px;
  }
  
  
  .heading-h2 {
    font-family: var(--font-family--heading);
    color: var(--color--heading);
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2em;
  }
  
  .heading-class-badge {
    color: var(--color--white);
    background-color: #0073e6;
    border-radius: 3px;
    padding: 0 6px;
    font-size: 12px;
  }
  
  .color-box-name {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400;
  }
  
  .heading-h4 {
    font-family: var(--font-family--heading);
    color: var(--color--heading);
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.3em;
  }
  
  .margin-bottom-54 {
    margin-bottom: 54px;
  }
  
  .text-mark {
    background-color: var(--color--primary-2);
    color: var(--color--white);
    padding-left: 3px;
    padding-right: 3px;
  }
  
  .margin-class-box {
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-1);
    width: 100%;
    display: flex;
  }
  
  .text-bold {
    font-weight: 600;
  }
  
  .margin-bottom-20 {
    margin-bottom: 20px;
  }
  
  .bg-primary-1 {
    background-color: var(--color--primary-1);
  }
  
  .bg-primary-2 {
    background-color: var(--color--primary-2);
  }
  
  .bg-primary-3 {
    background-color: var(--color--primary-3);
  }
  
  .bg-primary-4 {
    background-color: var(--color--primary-4);
  }
  
  .bg-black {
    background-color: var(--color--black);
  }
  
  .bg-white {
    background-color: var(--color--white);
  }
  
  .container {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .container-small {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .inner-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .inner-container.left {
    margin-left: 0;
  }
  
  .inner-container-small {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .section-spacing {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  
  .section-spacing-top {
    padding-top: 150px;
  }
  
  .section-spacing-bottom {
    padding-bottom: 150px;
  }
  
  .hero-inner {
    padding-top: 30px;
  }
  
  .hero-inner-content-wrap {
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-1);
    text-align: center;
    padding: 50px;
    position: relative;
    overflow: hidden;
  }
  
  .hero-inner-title {
    line-height: 1.2em;
  }
  
  .brand-wrap {
    padding-left: 0;
  }
  
  .nav-right {
    z-index: 1;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: right;
    align-items: right;
    display: flex;
  }
  
  .navbar {
    background-color: #0000;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .footer {
    z-index: 2;
    border-top: 1px solid var(--color--gray-3);
    background-color: var(--color--black);
    padding-top: 100px;
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
  }
  
  .grid-footer-link-wrap {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .grid-footer-link-inner {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }
  
  .coming-soon-icon {
    height: 150px;
    margin-bottom: 20px;
  }
  
  
  .brand {
    width: 100%;
    height: 36px;
  }
  
  .dropdown-link {
    color: var(--color--gray-4);
    margin-left: auto;
    margin-right: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    transition: color .3s ease-in-out;
  }
  .dropdown-list.w-dropdown-list {
    max-height: 300px; /* Adjust height */
    overflow-y: auto;
    position: absolute !important; /* Ensures dropdown is outside parent flow */
    z-index: 999; /* Ensures it appears above other elements */
}
.dropdown-list.w-dropdown-list {
  overflow-y: scroll !important;
}

  
  .dropdown-link:hover, .dropdown-link.w--current {
    color: var(--color--primary-2);
  }
  
  .dropdown-toggle {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    color: var(--color--gray-4);
    flex-direction: row;
    align-items: center;
    padding: 5px 35px 5px 15px;
    transition: color .3s ease-in-out;
  }
  
  .dropdown-toggle:hover {
    color: var(--color--primary-2);
  }
  
  .grid-navbar {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }
  
  .dropdown-list {
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--sm);
    background-color: var(--color--gray-1);
    width: 200px;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display:none;
    overflow-y: auto;
    position: absolute;
    z-index: absolute;
  }
  .nav-link.dropdown-item.w-dropdown{
    position: relative;
  }
  
  
  .dropdown-list:hover.w-dropdown-list{
    display:block;
  }
  .dropdown-link.w-dropdown-link:hover{
    background:#f1f1f1;
  }
  .dropdown-image {
    margin-right: 15px;
  }
  
  .nav-link {
    color: var(--color--gray-4);
    padding: 5px 5px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: color .3s ease-in-out;
  }
  
  .nav-link:hover, .nav-link.w--current {
    color: var(--color--primary-1);
  }
  
  .nav-link.dropdown-item.w-dropdown{
    padding: 0;
    overflow: visible !important;
  }
  
  .nav-link.dropdown-item:hover {
    text-decoration: none;
  }
   */
  .social-icon {
    width: 18px;
    height: 18px;
  }
  
  .footer-contact-link {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: flex-start;
    text-decoration: none;
    transition: color .3s ease-in-out;
    display: flex;
  }
  
  .footer-contact-link:hover {
    color: var(--color--primary-2);
  }
  
  .grid-footer {
    z-index: 2;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: .75fr 1fr 1fr .9fr;
    margin-bottom: 150px;
    position: relative;
  }
  
  .footer-item-title {
    margin-bottom: 0;
    font-size: 24px;
  }
  
  .footer-contact-wrap {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }
  
  .social-link {
    transition: transform .3s ease-in-out;
    display: flex;
  }
  
  .social-link:hover {
    transform: translate(0, -3px);
  }
  
  .footer-link-item-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
    display: flex;
  }
  
  .footer-simple-link {
    color: var(--color--gray-4);
    font-size: 18px;
    line-height: 1.4em;
    text-decoration: none;
    transition: color .3s ease-in-out;
  }
  
  .footer-simple-link:hover, .footer-simple-link.w--current {
    color: var(--color--primary-1);
  }
  
  .gradient-1 {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
  }
  
  .hero-inner-decoration {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    filter: blur(110px);
    width: 400px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    inset: auto 0% -50px;
  }
  
  .hero-inner-content {
    z-index: 2;
    position: relative;
  }
  
  .button-gradient-1-bg {
    background-color: var(--color--primary-3);
    background-image: linear-gradient(90deg, var(--color--primary-2) 40%, var(--color--transparent));
    padding: 15px 30px;
  }
  
  .button-gradient-1 {
    border-radius: var(--border-radius--lg);
    text-decoration: none;
    overflow: hidden;
  }
  
  .button-black {
    z-index: 2;
    border-radius: var(--border-radius--lg);
    background-image: linear-gradient(135deg, var(--color--primary-2) 40%, var(--color--primary-4));
    padding: 1px;
    text-decoration: none;
    display: flex;
    overflow: hidden;
  }
  
  .button-black-bg {
    border-radius: var(--border-radius--lg);
    background-color: var(--color--black);
    color: var(--color--white);
    text-align: left;
    flex: 1;
    height: 100%;
    padding: 15px 30px;
  }
  
  .button-black-bg.nav-button-bg {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .text-primary-1 {
    color: var(--color--primary-1);
  }
  
  .footer-social-list {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    display: flex;
  }
  
  .footer-bottom-wrap {
    z-index: 2;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    border-top: 1px solid var(--color--gray-3);
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 30px;
    position: relative;
  }
  
  .footer-copyright-text {
    color: var(--color--white);
    margin-bottom: 0;
  }
  
  .footer-copyright-link {
    color: var(--color--gray-4);
    transition: color .3s ease-in-out;
  }
  
  .footer-copyright-link:hover {
    color: var(--color--primary-2);
  }
  
  .footer-bottom {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: space-between;
    display: flex;
  }
  
  .footer-decoration-one {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    opacity: .8;
    filter: blur(140px);
    width: 50%;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    inset: auto 0% -50px;
  }
  
  .footer-decoration-two {
    opacity: .2;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    inset: auto 0% -35%;
  }
  
  .grid-footer-subscribe {
    z-index: 2;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr .75fr;
    grid-auto-columns: 1fr;
    display: grid;
    position: relative;
  }
  
  .footer-form-title {
    font-size: 26px;
  }
  
  .footer-form-button {
    background-color: var(--color--transparent);
    background-image: url("https://cdn.prod.website-files.com/66de97f960472d67e55ab299/66dfe79565c477d97d6f9293_icon-01.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    font-size: 0;
    position: absolute;
    inset: 0% 23px 0% auto;
  }
  
  .footer-form-wrap {
    position: relative;
  }
  
  .hero-section {
    position: relative;
    overflow-x: clip;
  }
  
  .grid-hero-split {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: .9fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .text-gradient-1 {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .pre-title-wrap {
    border-radius: var(--border-radius--lg);
    background-color: var(--color--gray-2);
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    margin-bottom: 20px;
    padding: 1px;
    display: inline-block;
    overflow: hidden;
  }
  
  .pre-title-text {
    border-radius: var(--border-radius--lg);
    background-color: var(--color--gray-2);
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
  }
  
  .hero-description-left {
    margin-top: 15px;
    margin-bottom: 50px;
  }
  
  .hero-image-right-wrap {
    position: relative;
  }
  
  .hero-image-right {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .hero-decoration-one {
    opacity: .2;
    position: absolute;
    inset: 0%;
  }
  
  .hero-decoration-two {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    opacity: .5;
    filter: blur(140px);
    border-radius: 50%;
    width: 460px;
    height: 460px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    inset: 0%;
  }
  
  .grid-client-wrap {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .client-divider {
    z-index: 2;
    background-image: linear-gradient(90deg, var(--color--black) 25%, transparent);
    width: 50px;
    height: 100%;
    position: absolute;
  }
  
  .client-divider.left {
    inset: 0% auto 0% 0%;
  }
  
  .client-divider.right {
    inset: 0% 0% 0% auto;
    transform: rotate(180deg);
  }
  
  .grid-client {
    grid-column-gap: 100px;
    grid-row-gap: 1000px;
    opacity: .5;
    display: flex;
   

    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: center;
    animation: marquee-animation 10s linear infinite;
  }
  
  .grid-client.two {
    margin-left: -2%;
    padding-right: 60px;
  }
  @keyframes marquee-animation {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
  
  .client-image {
    width: 100%;
    height: 40px;
  }
  
  .grid-marquee-split {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    display: flex;
  }
  
  .client-title {
    flex: none;
    margin-bottom: 0;
  }
  
  .client-section {
    z-index: 3;
    position: relative;
  }
  
  .about-section {
    overflow-x: clip;
  }
  
  .grid-about-split-title {
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-bottom: 30px;
    display: grid;
  }
  
  .grid-about-description-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: grid;
  }
  
  .grid-about-split-counter {
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .about-counter-title {
    margin-bottom: 0;
  }
  
  .grid-about-counter-inner {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: start;
    display: grid;
  }
  
  .about-counter-image-wrap {
    position: relative;
  }
  
  .about-counter-image {
    z-index: 2;
    width: 90%;
    height: 100%;
    position: relative;
  }
  
  .about-counter-decoration {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    filter: blur(120px);
    border-radius: 50%;
    width: 350px;
    height: 130px;
    margin: auto;
    position: absolute;
    inset: 0%;
  }
  
  .section-title {
    z-index: 2;
    margin-bottom: 40px;
    position: relative;
  }
  
  .section-title.service-section-title {
    text-align: center;
    flex-flow: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  .section-title.pricing-section-title {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .section-title.blog-section-title {
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .section-title.case-study-section-title {
    padding-right: 150px;
  }
  
  .grid-service {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .service-item {
    grid-column-gap: 170px;
    grid-row-gap: 170px;
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-2);
    flex-flow: column;
    padding: 30px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    display: flex;
  }
  
  .service-item:hover {
    border-color: var(--color--primary-2);
    transform: translate(0, -3px);
  }
  
  .service-icon-wrap {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    display: flex;
  }
  
  .service-icon {
    width: 34px;
    height: 34px;
  }
  
  .service-title {
    font-size: 26px;
  }
  
  .service-button-list {
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
  }
  
  .grid-feature-split {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
  }
  
  .feature-item {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .feature-icon-wrap {
    background-image: linear-gradient(135deg, var(--color--primary-1), var(--color--primary-2) 60%, var(--color--primary-4));
    border-radius: 50%;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    display: flex;
  }
  
  .feature-item-list {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin-top: 60px;
    display: flex;
  }
  
  .feature-icon {
    width: 30px;
    height: 30px;
  }
  
  .feature-title {
    margin-bottom: 5px;
    font-size: 26px;
  }
  
  .feature-image-split-wrap {
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-2);
    justify-content: center;
    align-items: center;
    padding: 150px 40px;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .feature-image-split {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .feature-image-decoration {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    filter: blur(110px);
    width: 80%;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    inset: auto 0% -50px;
  }
  
  .social-list {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
  
  .grid-pricing {
    z-index: 2;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;
    position: relative;
  }
  
  .pricing-pre-title {
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--lg);
    background-color: var(--color--gray-3);
    color: var(--color--white);
    text-align: center;
    margin-bottom: 20px;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 1.3em;
  }
  
  .pricing-pre-title.center {
    border-color: var(--color--primary-2);
    background-color: var(--color--gray-2);
  }
  
  .pricing-price-wrap {
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
  }
  
  .feature-list-icon {
    width: 18px;
    height: 18px;
    margin-top: 5px;
  }
  
  .pricing-feature-list {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
  }
  
  .pricing-item {
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-1);
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    display: flex;
  }
  
  .pricing-item.center {
    border-color: var(--color--primary-2);
    background-color: var(--color--gray-2);
  }
  
  .feature-list-item {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .pricing-price {
    margin-bottom: 0;
    font-size: 30px;
  }
  
  .pricing-section {
    overflow-x: clip;
  }
  
  .pricing-item-button-list {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    text-align: center;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    margin-top: auto;
    display: flex;
  }
  
  .pricing-price-center {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .cta-wrap {
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--black);
    padding: 100px;
    position: relative;
    overflow: hidden;
  }
  
  .cta-decoration {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    filter: blur(110px);
    border-radius: 50%;
    height: 280px;
    margin-left: 150px;
    margin-right: 150px;
    position: absolute;
    inset: -140px 0% auto;
  }
  
  .cta-content-wrap {
    z-index: 2;
    text-align: center;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
  }
  
  .cta-description {
    margin-bottom: 40px;
  }
  
  .cta-pattern-one {
    opacity: .05;
    min-width: 102%;
    margin-left: -1%;
    margin-right: -1%;
    position: absolute;
    inset: 0% 0% auto;
  }
  
  .testimonial-section {
    margin-bottom: -2px;
    position: relative;
    overflow: hidden;
  }
  
  .grid-testimonial-split {
    z-index: 2;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    position: relative;
  }
  
  .testimonial-split-item {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-2);
    flex-flow: column;
    padding: 30px;
    display: flex;
    position: relative;
  }
  
  .testimonial-split-icon {
    opacity: .8;
    width: 30px;
    height: 30px;
  }
  
  .testimonial-split-avatar-info {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-top: auto;
    font-size: 14px;
    line-height: 1.5em;
    display: flex;
  }
  
  .testimonial-split-avatar {
    object-fit: cover;
    border-radius: 50%;
    flex: none;
    width: 50px;
    height: 50px;
  }
  
  .testimonial-split-name {
    color: var(--color--white);
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .star-image {
    flex: 0 auto;
    width: 98px;
    height: 16px;
  }
  
  .rating-info {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    line-height: 1.3em;
    display: flex;
  }
  
  .rating-info-wrap {
    z-index: 2;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
    flex-flow: column;
    margin-top: 50px;
    padding-bottom: 1px;
    display: flex;
    position: relative;
  }
  
  .testimonial-section-decoration {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    filter: blur(110px);
    border-radius: 50%;
    width: 50%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    inset: auto 0% -50px;
  }
  
  .footer-award-list {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .hero-content-center {
    z-index: 2;
    text-align: center;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
  }
  
  .hero-description-center {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .hero-button-list-center {
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .hero-image-center-wrap {
    z-index: 2;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-2);
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    margin-top: 80px;
    display: grid;
    position: relative;
    overflow: hidden;
  }
  
  .hero-image-center-one {
    z-index: 2;
  }
  
  .hero-image-center-two {
    z-index: 2;
    width: 100%;
  }
  
  .hero-image-center-two-wrap {
    margin-right: -80px;
  }
  
  .hero-section-two {
    padding-top: 90px;
    position: relative;
    overflow-x: clip;
  }
  
  .hero-image-wrap {
    position: relative;
  }
  
  .hero-decoration-center {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    opacity: .8;
    filter: blur(240px);
    height: 50%;
    margin: auto 100px;
    position: absolute;
    inset: 0% 0% 0;
  }
  
  .grid-about-benefit {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    position: relative;
  }
  
  .feature-item-center {
    z-index: 2;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    display: flex;
    position: relative;
  }
  
  .feature-title-center {
    margin-bottom: 10px;
    font-size: 26px;
  }
  
  .feature-icon-center-wrap {
    background-image: linear-gradient(135deg, var(--color--primary-1), var(--color--primary-2) 60%, var(--color--primary-4));
    border-radius: 50%;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 1px;
    display: flex;
  }
  
  .feature-icon-center-bg {
    background-color: var(--color--gray-2);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .feature-icon-center {
    width: 30px;
    height: 30px;
  }
  
  .feature-decoration-one {
    opacity: .1;
    margin: auto;
    position: absolute;
    inset: 0%;
  }
  
  .feature-decoration-two {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    opacity: .5;
    filter: blur(140px);
    width: 450px;
    height: 100px;
    margin: auto;
    position: absolute;
    inset: 0%;
  }
  
  .feature-button-list-center {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 1px;
    display: flex;
  }
  
  
  .cta-sm-decoration {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    filter: blur(110px);
    border-radius: 50%;
    height: 150px;
    margin-left: 150px;
    margin-right: 150px;
    position: absolute;
    inset: auto 0% -120px;
  }
  
 
  
  .section-spacing-sm {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  
  
  .grid-about-split {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
  }
  
  .about-feature-list {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    margin-top: 40px;
    display: grid;
  }
  
  .about-split-image-wrap {
    position: relative;
  }
  
  .about-split-image {
    z-index: 2;
    border-radius: var(--border-radius--border-radius);
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .about-split-image-decoration {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    filter: blur(120px);
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    inset: 0%;
  }
  
  .empty-state {
    z-index: 2;
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--lg);
    background-color: var(--color--gray-1);
    color: var(--color--white);
    text-align: center;
    padding: 12px;
    position: relative;
  }
  
 
  
 
  .client-image-wrap {
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-1);
    padding: 15px 30px;
  }
  
  .grid-about {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    border: 1px solid var(--color--gray-3);
    border-radius: var(--border-radius--border-radius);
    background-color: var(--color--gray-1);
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    padding: 40px;
    display: grid;
    position: relative;
    overflow: hidden;
  }
  
 
  
  .grid-feature {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    position: relative;
  }
  

  
  .about-hero-section {
    overflow-x: clip;
  }
  
  .grid-about-hero {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    border-bottom: 1px solid var(--color--gray-3);
    grid-template-rows: auto;
    grid-template-columns: 1fr .7fr;
    grid-auto-columns: 1fr;
    margin-top: 50px;
    padding-bottom: 80px;
    display: grid;
  }
  
  .about-hero-content-wrap {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    display: flex;
  }
  
  .about-feature-hero-list {
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    flex-flow: wrap;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    margin-top: auto;
    display: flex;
  }
  
  .grid-about-counter {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto auto auto;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    display: flex;
  }
  
  .about-hero-counter-title {
    margin-bottom: 0;
    font-size: 44px;
  }
  
  .about-hero-image {
    z-index: 2;
    border-radius: var(--border-radius--border-radius);
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .about-hero-image-wrap {
    position: relative;
  }
  
  .about-hero-image-decoration {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    filter: blur(120px);
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    inset: 0%;
  }
  
 
  .grid-service-hero {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    text-align: center;
    flex-flow: column;
    grid-template-rows: auto;
    grid-template-columns: .9fr 1fr;
    grid-auto-columns: 1fr;
    margin-top: 50px;
    display: flex;
  }
  
  .service-hero-image-wrap {
    position: relative;
  }
  
  .service-hero-image {
    z-index: 2;
    position: relative;
  }
  
  .service-hero-image-decoration-one {
    opacity: .2;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    inset: 0%;
  }
  
  .service-hero-image-decoration-two {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    opacity: .5;
    filter: blur(140px);
    border-radius: 50%;
    width: 460px;
    height: 460px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    inset: 0%;
  }
  

  
  .grid-contact-item {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    position: relative;
  }
  
 
  
  .form-item-wrap {
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-bottom: 15px;
    display: grid;
  }
  
  .grid-contact-split {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
  }
  
  
  
  .footer-logo {
    width: 100%;
    height: 36px;
  }
  
  .grid-team {
    z-index: 2;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    position: relative;
  }
  
 
  
  .hero-section-split {
    margin-top: 150px;
    position: relative;
    overflow-x: clip;
  }
  
  .cta-sm-title {
    margin-bottom: 0;
    font-size: 40px;
  }
  
  .grid-service-one {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .service-hero-description {
    margin-top: 15px;
    margin-bottom: 50px;
  }
  
 
  .feature-section-title {
    width: 100%;
  }
  
  .pricing-section-title-wrap {
    text-align: center;
    width: 60%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  
  .pricing-section-title {
    z-index: 2;
    position: relative;
  }
  
  .pricing-section-decoration-one {
    background-image: linear-gradient(180deg, var(--color--primary-2) 40%, var(--color--primary-4));
    filter: blur(110px);
    width: 50%;
    height: 90px;
    margin: auto;
    position: absolute;
    inset: 0%;
  }
  
  .pricing-section-decoration-two {
    opacity: .3;
    object-fit: cover;
    width: 50%;
    height: 160px;
    margin: auto;
    position: absolute;
    inset: 0%;
  }
  
  .hero-section-two-decoration {
    opacity: .2;
    object-fit: cover;
    height: 450px;
    position: absolute;
    inset: 0% 0% auto;
  }
  
  .footer-award-image {
    width: 100%;
    height: 100px;
  }
  
 